{% extends "base.html" %} {% block title %} Employee {% endblock title %}

<div>{% load tailwind_filters %} {% load crispy_forms_tags %}</div>

{% block content %}

<div
  class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 p-5"
>
  {% for data in employee %}

  
  {% comment %} <div>
    <a
    href="{% url "detail" data.id %} "
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800"
  >
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      {{data.name}}
    </h5>
    <p class="font-bold text-gray-700">{{data.designation}}</p>
    <p class="font-normal text-gray-700">{{data.description}}</p>
  </a>
  </div>
  <div>
    <button>
      akfdasf
    </button>
  </div>
       {% endcomment %}



  

<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 ">
    <a href="{% url "detail" data.id %}">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{data.name}}</h5>
        <p> {{data.designation}}</p>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{data.description}}</p>
    <div class='flex justify-between'>
      <a href="{% url "update" data.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
        Edit +
        
    </a>
    <a href="{% url "delete" data.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 ">
        Delete
        
    </a>
    </div>
   
</div>



 

  

  {% endfor %}
</div>
{% endblock content %}
